#submit {
    /*Estilo del borde y fondo tras posar el cursor*/ 
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 8px 8px 8px 8px;
}

#submit:hover {
    background: #ddd;
}
